.contact {
  display: flex;
  height: 100%;
  gap: 100px;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}
textarea,
input {
  padding: 12px;
  border: none;
  border-radius: 5px;
}
.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-size: 13px;
}

.formButton {
  padding: 12px;
  background-color: #dd4c62;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }

  .cSection:first-child {
    height: 70%;
  }
  .cSection:last-child {
    height: 30%;
  }
}
